In [45]:
# Dependencies and Setup
import pandas as pd
import json
from sqlalchemy import create_engine

In [46]:
# Read in json data
df_2018 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2018.json')

# Grab the first row for the header
new_header_2018 = df_2018.iloc[0]
# Take the data less the header row
df_2018 = df_2018[1:]
# Set the header row as the df header
df_2018.columns = new_header_2018

# Split up the Name column and retain only city name
df_2018[['Location','Other']] = df_2018.NAME.str.split(",",expand=True) 

# Drop the state and place columns
df_2018 = df_2018.drop('GEO_ID', 1)
df_2018 = df_2018.drop('B19013_001M', 1)
df_2018 = df_2018.drop('NAME', 1)
df_2018 = df_2018.drop('state', 1)
df_2018 = df_2018.drop('place', 1)
df_2018 = df_2018.drop('B19013_001EA', 1)
df_2018 = df_2018.drop('B19013_001MA', 1)
df_2018 = df_2018.drop('Other', 1)

# Add the year column 
df_2018.insert(2, 'Year', '2018', True)

# # Reorder columns
columns_2018 = ['Location','B19013_001E', 'Year']
df_2018 = df_2018[columns_2018]

# # Rename columns
df_2018.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2018)

0             Location Household Income(Annual)  Year
1       Flagstaff city                    58808  2018
2        Goodyear city                    89959  2018
3        Surprise city                    70280  2018
4        Glendale city                    54789  2018
5      Scottsdale city                    88071  2018
6            Yuma city                    47929  2018
7          Peoria city                    72050  2018
8        Avondale city                    63242  2018
9         Phoenix city                    57957  2018
10           Mesa city                    58247  2018
11       Chandler city                    85527  2018
12  San Tan Valley CDP                    70339  2018
13         Tucson city                    43676  2018
14    Casas Adobes CDP                    62927  2018
15        Buckeye city                    68655  2018
16          Tempe city                    60330  2018
17        Gilbert town                    99866  2018

In [47]:
# Read in json data
df_2017 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2017.json')

# Grab the first row for the header
new_header_2017 = df_2017.iloc[0]
# Take the data less the header row
df_2017 = df_2017[1:]
# Set the header row as the df header
df_2017.columns = new_header_2017

# Split up the Name column and retain only city name
df_2017[['Location','Other']] = df_2017.NAME.str.split(",",expand=True) 

# Drop the state and place columns
df_2017 = df_2017.drop('GEO_ID', 1)
df_2017 = df_2017.drop('B19013_001M', 1)
df_2017 = df_2017.drop('NAME', 1)
df_2017 = df_2017.drop('state', 1)
df_2017 = df_2017.drop('place', 1)
df_2017 = df_2017.drop('B19013_001EA', 1)
df_2017 = df_2017.drop('B19013_001MA', 1)
df_2017 = df_2017.drop('Other', 1)

# Add the year column 
df_2017.insert(2, 'Year', '2017', True)

# # Reorder columns
columns_2017 = ['Location','B19013_001E', 'Year']
df_2017 = df_2017[columns_2017]

# # Rename columns
df_2017.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2017)

0             Location Household Income(Annual)  Year
1        Avondale city                    55468  2017
2         Buckeye city                    74970  2017
3     Casas Adobes CDP                    65029  2017
4        Chandler city                    76860  2017
5       Flagstaff city                    56059  2017
6         Gilbert town                    84699  2017
7        Glendale city                    53753  2017
8        Goodyear city                    87481  2017
9            Mesa city                    55014  2017
10         Peoria city                    72142  2017
11        Phoenix city                    56696  2017
12  San Tan Valley CDP                    61599  2017
13     Scottsdale city                    88407  2017
14       Surprise city                    65898  2017
15          Tempe city                    51986  2017
16         Tucson city                    41613  2017
17           Yuma city                    50195  2017

In [48]:
# Read in json data
df_2016 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2016.json')

# Grab the first row for the header
new_header_2016 = df_2016.iloc[0]
# Take the data less the header row
df_2016 = df_2016[1:]
# Set the header row as the df header
df_2016.columns = new_header_2016

# Split up the Name column and retain only city name
df_2016[['Location','Other']] = df_2016.NAME.str.split(",",expand=True) 

# # Drop the state and place columns
df_2016 = df_2016.drop('NAME', 1)
df_2016 = df_2016.drop('B19013_001M', 1)
df_2016 = df_2016.drop('B19013_001EA', 1)
df_2016 = df_2016.drop('B19013_001MA', 1)
df_2016 = df_2016.drop('state', 1)
df_2016 = df_2016.drop('place', 1)
df_2016 = df_2016.drop('Other', 1)

# Add the year column 
df_2016.insert(2, 'Year', '2016', True)

# # Reorder columns
columns_2016 = ['Location','B19013_001E', 'Year']
df_2016 = df_2016[columns_2016]

# # Rename columns
df_2016.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2016)

0             Location Household Income(Annual)  Year
1        Avondale city                    58404  2016
2     Casas Adobes CDP                    63407  2016
3        Chandler city                    75369  2016
4       Flagstaff city                    59658  2016
5         Gilbert town                    91576  2016
6        Glendale city                    51022  2016
7        Goodyear city                    73960  2016
8            Mesa city                    52393  2016
9          Peoria city                    68882  2016
10        Phoenix city                    52062  2016
11  San Tan Valley CDP                    58608  2016
12     Scottsdale city                    81381  2016
13       Surprise city                    60521  2016
14          Tempe city                    56365  2016
15         Tucson city                    40021  2016
16           Yuma city                    42731  2016

In [49]:
# Read in json data
df_2015 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2015.json')

# Grab the first row for the header
new_header_2015 = df_2015.iloc[0]
# Take the data less the header row
df_2015 = df_2015[1:]
# Set the header row as the df header
df_2015.columns = new_header_2015

# Split up the Name column and retain only city name
df_2015[['Location','Other']] = df_2015.NAME.str.split(",",expand=True) 

# Drop the state and place columns
df_2015 = df_2015.drop('GEO_ID', 1)
df_2015 = df_2015.drop('B19013_001M', 1)
df_2015 = df_2015.drop('NAME', 1)
df_2015 = df_2015.drop('state', 1)
df_2015 = df_2015.drop('place', 1)
df_2015 = df_2015.drop('B19013_001EA', 1)
df_2015 = df_2015.drop('B19013_001MA', 1)
df_2015 = df_2015.drop('Other', 1)

# Add the year column 
df_2015.insert(2, 'Year', '2015', True)

# # Reorder columns
columns_2015 = ['Location','B19013_001E', 'Year']
df_2015 = df_2015[columns_2015]

# # Rename columns
df_2015.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2015)

0             Location Household Income(Annual)  Year
1        Avondale city                    54686  2015
2     Casas Adobes CDP                    54766  2015
3        Chandler city                    75562  2015
4       Flagstaff city                    51616  2015
5         Gilbert town                    86045  2015
6        Glendale city                    45812  2015
7        Goodyear city                    73164  2015
8            Mesa city                    49177  2015
9          Peoria city                    66308  2015
10        Phoenix city                    48452  2015
11  San Tan Valley CDP                    61441  2015
12     Scottsdale city                    75346  2015
13       Surprise city                    65688  2015
14          Tempe city                    51688  2015
15         Tucson city                    38155  2015
16           Yuma city                    43663  2015

In [50]:
# Read in json data
df_2014 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2014.json')

# Grab the first row for the header
new_header_2014 = df_2014.iloc[0]
# Take the data less the header row
df_2014 = df_2014[1:]
# Set the header row as the df header
df_2014.columns = new_header_2014

# Split up the Name column and retain only city name
df_2014[['Location','Other']] = df_2014.NAME.str.split(",",expand=True) 

# Drop the state and place columns
df_2014 = df_2014.drop('GEO_ID', 1)
df_2014 = df_2014.drop('B19013_001M', 1)
df_2014 = df_2014.drop('NAME', 1)
df_2014 = df_2014.drop('state', 1)
df_2014 = df_2014.drop('place', 1)
df_2014 = df_2014.drop('B19013_001EA', 1)
df_2014 = df_2014.drop('B19013_001MA', 1)
df_2014 = df_2014.drop('Other', 1)

# Add the year column 
df_2014.insert(2, 'Year', '2014', True)

# # Reorder columns
columns_2014 = ['Location','B19013_001E', 'Year']
df_2014 = df_2014[columns_2014]

# # Rename columns
df_2014.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2014)

0             Location Household Income(Annual)  Year
1        Avondale city                    55664  2014
2     Casas Adobes CDP                    59882  2014
3        Chandler city                    73062  2014
4       Flagstaff city                    48407  2014
5         Gilbert town                    84153  2014
6        Glendale city                    46453  2014
7        Goodyear city                    69883  2014
8            Mesa city                    47675  2014
9          Peoria city                    66371  2014
10        Phoenix city                    47929  2014
11  San Tan Valley CDP                    65590  2014
12     Scottsdale city                    73387  2014
13       Surprise city                    58923  2014
14          Tempe city                    47118  2014
15         Tucson city                    36541  2014
16           Yuma city                    43322  2014

In [51]:
# Read in json data
df_2013 = pd.read_json (r'C:\Users\klsom\Desktop\Solar-Predictions\data\Income & Population\Income\2013.json')

# Grab the first row for the header
new_header_2013 = df_2013.iloc[0]
# Take the data less the header row
df_2013 = df_2013[1:]
# Set the header row as the df header
df_2013.columns = new_header_2013

# Split up the Name column and retain only city name
df_2013[['Location','Other']] = df_2013.NAME.str.split(",",expand=True) 

# Drop the state and place columns
df_2013 = df_2013.drop('GEO_ID', 1)
df_2013 = df_2013.drop('B19013_001M', 1)
df_2013 = df_2013.drop('NAME', 1)
df_2013 = df_2013.drop('state', 1)
df_2013 = df_2013.drop('place', 1)
df_2013 = df_2013.drop('B19013_001EA', 1)
df_2013 = df_2013.drop('B19013_001MA', 1)
df_2013 = df_2013.drop('Other', 1)

# Add the year column 
df_2013.insert(2, 'Year', '2013', True)

# # Reorder columns
columns_2013 = ['Location','B19013_001E', 'Year']
df_2013 = df_2013[columns_2013]

# # Rename columns
df_2013.rename(columns = {'B19013_001E':'Household Income(Annual)'}, inplace = True)

print(df_2013)

0             Location Household Income(Annual)  Year
1        Avondale city                    51206  2013
2     Casas Adobes CDP                    53357  2013
3        Chandler city                    71545  2013
4       Flagstaff city                    52854  2013
5         Gilbert town                    81589  2013
6        Glendale city                    41037  2013
7        Goodyear city                    72219  2013
8            Mesa city                    47561  2013
9          Peoria city                    59377  2013
10        Phoenix city                    46601  2013
11  San Tan Valley CDP                    57005  2013
12     Scottsdale city                    69690  2013
13       Surprise city                    55857  2013
14          Tempe city                    48565  2013
15         Tucson city                    35720  2013
16           Yuma city                    44545  2013

In [54]:
dfs_to_merge = [df_2018, df_2017, df_2016, df_2015, df_2014, df_2013]
income_df = pd.concat(dfs_to_merge, sort=True)
print(income_df.head())

0 Household Income(Annual)         Location  Year
1                    58808   Flagstaff city  2018
2                    89959    Goodyear city  2018
3                    70280    Surprise city  2018
4                    54789    Glendale city  2018
5                    88071  Scottsdale city  2018

In [55]:
income_df.to_csv(r'Income.csv')